.border-coloring {
  -webkit-box-shadow: 5px 1px 7px 7px rgba(253, 238, 48, 0.75);
  -moz-box-shadow: 5px 1px 7px 7px rgba(253, 238, 48, 0.75);
  box-shadow: 5px 1px 7px 7px rgba(253, 238, 48, 0.75);
}
