.border-coloring {
  -webkit-box-shadow: 5px 1px 7px 7px rgba(253, 238, 48, 0.75);
  -moz-box-shadow: 5px 1px 7px 7px rgba(253, 238, 48, 0.75);
  box-shadow: 5px 1px 7px 7px rgba(253, 238, 48, 0.75);
}

.hovering:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 1px 7px 7px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 1px 7px 7px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 1px 7px 7px rgba(50, 50, 50, 0.75);
  -webkit-transform: translate(-15px, -15px);
  transform: translate(-15px, -15px);
  transition: transform 0.75s, box-shadow 0.75s, ease;
}

.shift {
  -webkit-transform: translate(-15px, -15px);
  transform: translate(-15px, -15px);
}
