.screen-display-container {
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
}

.category-container {
  display: flex;
}

.category{
  width: 50%;
}

.image-display{
  width: 400px;
}

.image-container{
  width: 400px;
}

.screen-display-item {
  width: 45%;
  margin-bottom: 40px;
}

.screen-display-single {
  width: 50%;
  margin-bottom: 90px;
}

.display-container {
  display: flex;
  height: 600px;
}

.display-item {
  width: 100%;
}

.no-movie-display {
  height: 600px;
}

@media (max-width: 1613px) {
  .screen-display-item {
    width: 80%;
    height: 100%;
  }
  .screen-display-single {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .screen-display-item {
    width: 400px;
  }

  .screen-display-single {
    width: 400px;
  }

  .display-container {
    height: auto;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .display-item {
    width: 400px;
  }
}

@media (max-width: 882px) {
  .screen-display-item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 440px) {
  .display-container{
    height: auto;
  }

  .image-display{
    width: 100%;
    height: auto;
  }

  .screen-display-single {
    width: 90%;
  }

  .screen-display-item {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .category-container{
    display: inline;
  }
  .category{
    width: 100%;
  }
}
