@import 'basscss';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import './borderSelect';
@import './fonts';
@import './misc';
@import './typeahead';
@import './toggleSwitch';
@import './spacing';
@import './colors';
@import './display.css';

:root {
  --h2: 50px;
  --h1: 70px;
  --h3: 25px;
  --black: #222;
  --dark-gray: #18181e;
}

* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url('https://download.hipwallpaper.com/desktop/1366/768/80/29/ynuKj1.jpeg')
    no-repeat center center fixed;
  background-size: cover;
}

#outer-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.85) 10%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 1) 90%
  );
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  overflow: auto;
}
