@import 'basscss';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import './borders';
@import './fonts';
@import './shame';
@import './typeahead';
@import './toggleSwitch';
@import './spacing';
@import '../static/images/Movie_Background.jpeg': root {
  --h2: 50px;
  --h1: 70px;
  --h3: 25px;
  --black: #222;
  --dark-gray: #18181e;
}

* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: url('/src/static/images/Movie_Background.jpeg') no-repeat center
    center fixed;
  background-size: cover;
}

#outer-container {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.85) 30%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 1) 90%
  );
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0px;
  font-family: 'Oswald', sans-serif;
}

.hovering:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 1px 7px 7px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 1px 7px 7px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 1px 7px 7px rgba(50, 50, 50, 0.75);
  -webkit-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
  transition: transform 0.75s, box-shadow 0.75s, ease;
}

.shift {
  -webkit-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}

div {
  font-size: 15px;
}

span {
  font-size: 1.2em;
}
