.pointer {
  cursor: pointer;
}

.shadow {
  text-shadow: 0 0 10px white;
}

.bottom10 {
  position: absolute;
  bottom: 10px;
}

.scroller {
  height: 200px;
  overflow: auto;
}

.right10 {
  right: 10px;
}

.w3-spin {
  animation: w3-spin 2s infinite linear;
}

@keyframes w3-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* width */
.scroller::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(5, 22, 34, 0.95);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
