.pointer {
  cursor: pointer;
}

.color-blue {
  background-color: rgba(5, 22, 34, 0.95);
}

.text-color-white {
  color: white;
}

.text-color-main {
  color: #deb992;
}

.shadow {
  text-shadow: 0 0 10px white;
}

.text-color-blue {
  color: #659dbd;
  font-family: 'Anton';
}
