.ml40 {
  margin-left: 40%;
}

.mr20 {
  margin-right: 20%;
}

.h100 {
  height: 100%;
}

.h600 {
  height: 600px;
}

.hauto {
  height: auto;
}

.px20 {
  padding-left: 10px;
  padding-right: 10px;
}

.width45 {
  width: 45%;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.width1100 {
  width: 1100px;
}

.width600 {
  width: 600px;
}

.width400 {
  width: 400px;
}

.aligner {
  text-align: center;
}

.credits {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.toggler {
  margin-left: auto;
  margin-right: auto;
  width: 205px;
}

.logo {
  vertical-align: middle;
}

.margin10 {
  margin-bottom: 50px;
}

.searchinput {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 614px;
}

@media (max-width: 768px) {
  .searchinput {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
