.ml40 {
  margin-left: 40%;
}

.mr20 {
  margin-right: 20%;
}

.h100 {
  height: 100%;
}

.px20 {
  padding-left: 10px;
  padding-right: 10px;
}

.width40 {
  width: 40%;
}

.width50 {
  width: 50%;
}
